# Add any directories, files, or patterns you don't want to be tracked by version control

#EXTENSIONS

#IDE
.idea/
**/.suo
**/Debug/
**/Release/
**/packages/
**/ipch/
**/.vs
**/*.VC.db
**/*.VC.opendb
**/*.vcxproj.user


#PROJECT
#**/targetver.h
**/opcda_h.h
**/opcda_i.c
**/opcda_p.c
**/opchda_h.h
**/opchda_i.c
**/opchda_p.c
**/dlldata.c

ProtocolAdapterStaticLib/SMOpcDA30Server_h.h
ProtocolAdapterStaticLib/SMOpcDA30Server_i.c
ProtocolAdapterStaticLib/opccomn_h.h
ProtocolAdapterStaticLib/opccomn_i.c
ProtocolAdapterStaticLib/opccomn_p.c

Drivers/OPCDA20Client/opccomn_h.h
Drivers/OPCDA20Client/opccomn_i.c
Drivers/OPCDA20Client/opccomn_p.c
Drivers/OPCDA30Server/SMOpcDA30Server_h.h
Drivers/OPCDA30Server/SMOpcDA30Server_i.c
Drivers/OPCDA30Server/opccomn_h.h
Drivers/OPCDA30Server/opccomn_i.c
Drivers/OPCDA30Server/opccomn_p.c

#CONFIG
DataBroker/ICS_broker/config

#DATABASE
*.db
**/*.db
